@use "../../variables" as var;

.molecules-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  position: absolute;

  @include var.mq(xs) {
    padding: 32;
  }
  @include var.mq(lg) {
    padding: 52;
  }

  .title {
    font-family: var.$fontfamily-mincho;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
    color: var.$black;
    flex: none;
    order: 0;
    flex-grow: 0;

    @include var.mq(xs) {
      font-size: var.$fontsize-l;
      line-height: 30px;
      margin-bottom: 6px;
    }
    @include var.mq(lg) {
      font-size: var.$fontsize-xl;
      line-height: 54px;
      margin-bottom: 10px;
    }
  }

  .text {
    font-family: var.$fontfamily-gothic;
    font-style: normal;
    font-weight: 400;
    font-size: var.$fontsize-s;
    display: flex;
    align-items: center;
    text-align: center;
    color: var.$black;
    flex: none;
    order: 0;
    flex-grow: 0;

    @include var.mq(xs) {
      line-height: 28px;
    }
    @include var.mq(lg) {
      ine-height: 36px;
    }
  }
}
