@use "../../variables" as *;

$breakpoints: (
  "xs": "screen and (min-width: 0px)",
  "sm": "screen and (min-width: 576px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.molecules-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 52px 20px;
  position: absolute;

  @include mq(lg) {
    width: 327px;
    height: 204px;
  }
  @include mq(md) {
    width: 200px;
    height: 128px;
  }

  .title {
    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 400;

    @include mq(lg) {
      width: 287px;
      height: 54px;
      font-size: 36px;
      line-height: 54px;
    }
    @include mq(md) {
      width: 160px;
      height: 30px;
      font-size: 20px;
      line-height: 30px;
    }

    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .text {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;

    @include mq(lg) {
    width: 84px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    }
    @include mq(md) {
      width: 84px;
      height: 28px;
      font-size: 14px;
      line-height: 28px;
    }

    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
