@use "../../variables" as *;

$breakpoints: (
  "xs": "screen and (min-width: 0px)",
  "sm": "screen and (min-width: 576px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.atoms-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  margin: auto;
  position: absolute;

  @include mq(lg) {
    width: 200px;
    height: 55px;
  }
  @include mq(md) {
    width: 150px;
    height: 55px;
  }
  @include mq(xs) {
    width: 180px;
    height: 45px;
  }
  text-align: center;
  background-color: black;
  transition: 0.2s;
  border-radius: 0px;
}

.atoms-button:hover {
  background: #442606;
}

.atoms-button a {
  width: 52px;
  height: 20px;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: white;
  flex: none;
  order: 0;
  flex-grow: 0;
}
