@use "../../variables" as var;

.atoms-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  margin: auto;
  position: absolute;

  @include var.mq(xs) {
    width: 180px;
    height: 45px;
  }
  @include var.mq(md) {
    width: 150px;
    height: 55px;
  }
  @include var.mq(lg) {
    width: 200px;
    height: 55px;
  }

  text-align: center;
  background-color: black;
  transition: 0.2s;
  border-radius: 0px;
}

.atoms-button:hover {
  background: #442606;
}

.atoms-button a {
  display: flex;
  width: 52px;
  height: 20px;
  align-items: center;
  color: var.$white;
  font-family: var.$fontfamily-gothic;
  font-size: var.$fontsize-s;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}
