@use "../../variables" as *;

.Button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  background-color: black;
  font-style: normal;
  text-decoration: none;
  transition: 0.2s;

  width: 200px;
  height: 55px;
  @media (max-width: $breakpoint-md) {
    width: 180px;
    height: 45px;
  }
  @media (max-width: $breakpoint-lg) {
    width: 150px;
  }

  &:hover {
    color: white;
    background-color: $orange_bistre;
  }
}
